
@charset "UTF-8";
/* Define variables */
:root {
  --main-font-size: x-large;
	--timeline-block-height: 4rem;
	--timeline-padding-left: 2rem;
	--timeline-divider-border: 4px;
	--timeline-circle-size: 2rem;
	--timeline-gap-top: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.timeline {
	padding: 1rem;
}

.timeline__entry {
	display: flex;
	font-size: var(--main-font-size);
	min-height: var(--timeline-block-height);
}

.entry__title {
	width: 50%;
	font-size: 1rem;
	padding-top: var(--timeline-gap-top);
}

.entry__body {
	font-size: 1rem;
	padding-left: var(--timeline-padding-left);
	border-left: var(--timeline-divider-border) solid red;
	position: relative;
	padding-top: var(--timeline-gap-top);
	font-weight: bold;
	max-width: 50%;
}

.entry__body::before {
	content: "";
	position: absolute;
	width: var(--timeline-circle-size);
	aspect-ratio: 1/1;
	border-radius: 50%;
	z-index: 10;
	background-color: green;
	left: calc(var(--timeline-circle-size) / -2 - var(--timeline-divider-border) / 2);
}


